language: node_js
node_js:
  - "4.4.3"
  - "6.9.1"
before_script:
  - export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start
after_script:
  - npm run coverage
  - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
sudo: false
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
