.fade-enter-active, .fade-leave-active {
  transition: opacity .25s ease-in-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.fade-leave-to {
  display: none;
}

.loader {
  display: block;
	background-image: url(../imgs/loader.svg);
	width: 100px;
	height: 100px;
  background-size: 100px 100px;
	background-repeat: no-repeat;
  border: none;
  margin: auto;
}

.loader.inline {
  width: 50px;
	height: 50px;
  background-size: 50px 50px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
