html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 26px;
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  body {
    padding: 0 1.5em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  body {
    padding: 0 3em;
  }
}

input {
  font-weight: 300;
}

label {
  font-size: 15px;
  padding-bottom: 4px;
}

label.disabled {
  cursor: not-allowed;
}

h1, h2, h3, h4, h5, h6, p, span, blockquote, footer {
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: optimizelegibility;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #2683FF;
}

a:hover, a:focus {
  color: #0068f2;
  text-decoration: none;
  outline: 0;
}

header {
  padding: 2em 0;
}

.logo {
  display: block;
  width: 160px;
  margin-top: 14px;
}
.logo-image {
  width: 160px;
}

.main.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.form-control {
  box-shadow: none;
  height: 36px;
  background: #fff;
  border: 2px solid #ddd;
}
.form-control.margin-top {
  margin-top: 10px;
}

.form-group {
  margin: 1em auto;
}

.pull-right {
  line-height: 28px;
}

.pull-right p {
  margin: 0;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.4em;
  padding: 0.6em;
  margin: 1.2em auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  position: relative;
  background-color: #88C425;
  border: 2px solid #88C425;
}

.btn:hover {
  color: #fff;
  background: #96d72b;
  border-color: #96d72b;
  outline: 0;
}

.btn:hover:focus {
  color: #fff;
  outline: 0;
}

.btn:focus {
  color: #fff;
  outline: 0;
}

.btn:active {
  color: #fff;
  outline: 0;
}

.btn-blue {
  font-size: 13px;
  padding: 7px 0;
  border: 2px solid #2683FF;
  margin: 0;
  background: transparent;
  color: #2683FF;
}

.btn-blue:hover {
  color: #fff;
  background: #2683FF;
  border-color: #2683FF;
}

.btn-blue:focus {
  color: #2683FF;
}

.btn-drives {
  font-size: 14px;
  color: #fff;
  background: #88C425;
  border-color: #88C425;
  margin-bottom: 0;
  min-width: 160px;
}

.btn-drives .caret {
  margin-left: 0.5em;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background: #2683FF;
}

#size-unit {
  font-family: "Montserrat", sans-serif;
  color: #2683FF;
  letter-spacing: 1px;
}

footer {
  padding: 0.5em 0 1em;
  font-weight: 300;
}

footer p {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

footer a:hover {
  border-bottom: 1px dashed #0068f2;
}

.spinner {
  display: none;
  margin-top: 21px;
  height: 30px;
}

.spinner > div {
  background-color: #88C425;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

#about .modal-dialog,
#updater .modal-dialog,
#loading .modal-dialog {
  top: 5em;
}

#settings .modal-header {
  border-bottom: 0;
}

.modal-body {
  padding: 1em;
}

.modal-footer {
  text-align: center;
}

.modal-footer .btn {
  margin: 1em 0;
  padding: 1em 2em;
  font-size: 14px;
}

.spinner-modal {
  display: block;
  margin-bottom: 21px;
}

.modal .nav-tabs {
  padding-left: 2em;
}

.modal .alert {
  margin-bottom: 10px;
}

#terms {
  padding: 0 !important;
}
#terms .modal-dialog{
    overflow-y: initial !important
}
#terms .modal-body{
    height: 380px;
    overflow-y: auto;
}

#modalLogs {
  top: 0;
}

#modalLogs .modal-body {
  padding: 0;
}

#modalLogs #modalLogsCode {
  border: 0;
  margin: 0;
  padding: 1.5em;
  font-size: 12px;
  line-height: 18px;
  min-height: 375px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

.fa-check:before{
  content: "\f00c";
}

.start {
  background-color: #FFA500;
  border-color: #FFA500;
}

.start:hover {
  background-color: #ffbd44;
  border-color: #ffbd44;
}

.transitioning, .transitioning:hover {
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.stop {
  background-color: #88C425;
  border-color: #88C425;
}

.stop:hover {
  background-color: #96d72b;
  border-color: #96d72b;
}

.passwd-linux {
  margin: auto;
  width: 85%;
}

.passwd-linux-btn {
  padding: 12px;
}

.container {
  opacity: 0;
}

.container.visible {
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.remove {
  display: inline-block;
  margin: -4px 0 0 12px;
  color: #fff;
  opacity: 0.8;
}

.remove:hover {
  opacity: 1;
  cursor: pointer;
}

.error {
  color: red;
}

.btn-settings {
  font-size: 14px;
  color: #fff;
  background: #88C425;
  border-color: #88C425;
  margin-bottom: 0;
}

.dropdown-menu>label{
  display:block;
  padding:3px 20px;
  clear:both;
  font-weight:400;
  line-height:1.42857143;
  color:#333;
  white-space:nowrap
}

#logs {
  height: 241px;
  border-radius: 3px;
  background: #333;
  overflow: auto;
  margin: 0;
  padding: 12px;
  color: #e2e2e2;
  font-family: monospace;
}

#logs > div {
  word-break: break-all;
}

#logs .ts {
  color: #999999;
}

#logs .error {
  color: red;
}

#logs .warn {
  color: yellow;
}

#logs .info {
  color: cyan;
}

#logs .debug {
  color: magenta;
}

#telemetry-info {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F1E95A;
  padding: 4px 12px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

#telemetry-info p {
  margin: 0;
}

#telemetry-info .dismiss {
  text-decoration: underline;
}

#telemetry-info .dismiss:hover {
  text-decoration: none;
  cursor: pointer;
}

.progress {
  height: 36px;
  margin-bottom: 0;
  background: #eee;
  border: 2px solid #ddd;
  box-shadow: none;
}
.progress-bar {
  line-height: 36px;
  background-color: #2683ff;
}    
