Package: {{name}}
Version: {{version}}
Maintainer: {{author}}
Priority: optional
Architecture: amd64
Installed-Size: {{size}}
Description: {{description}}
Depends: python-pip, python-dev, graphviz, libgraphviz-dev, pkg-config, gcc
