<!DOCTYPE html>
<html lang="en">
<head>
  <title>Storj Share</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/fonts.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

  <div id="overview">

  </div>

  <div class="modal fade text-center" id="updater" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 v-if="update" class="modal-title">Update Storj Share</h4>
          <h4 v-if="!update" class="modal-title">No Update Available</h4>
        </div>
        <div v-if="!update" class="modal-body">
          <p>You are already using the latest version.</p>
        </div>
        <div v-if="update" class="modal-body">
          <p>Storj Share {{releaseTag}} is available!</p>
          <p>Would you like to download the update now?</p>
        </div>
        <div class="modal-footer">
          <button v-if="!update" type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
          <div v-if="update">
            <div class="col-xs-6">
              <button type="button" class="btn btn-green btn-block" data-dismiss="modal" v-on:click="download">Yes</button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-blue btn-block" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-center" id="about" tabindex="-1" role="dialog" aria-labelledby="modalAbout">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">About Storj Share</h4>
        </div>
        <div class="modal-body">
          <p>GUI {{version}}</p>
          <p>Daemon {{daemon}}</p>
          <p>Core {{core}}</p>
          <p>Protocol {{protocol}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-left" id="terms" tabindex="-1" role="dialog" aria-labelledby="modalTerms">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Storage Sharing Terms</h4>
        </div>
        <div class="modal-body">{{{terms}}}</div>
        <div class="modal-footer">
          <button v-on:click='accepted' type="button" class="btn btn-green" data-dismiss="modal">I Accept</button>
        </div>
      </div>
    </div>
  </div>

  <script src="renderer.js"></script>

</body>
</html>
