<!DOCTYPE html>
<html lang="en">
<title>Storj Share</title>
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/fonts.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
        <div id="main">

          <header>
            <div class="row">
              <div class="col-xs-4">
                <a class="logo" href="#" onclick="require('shell').openExternal('https://storj.io/share.html');" ><img src="imgs/logo.png" alt="" class="logo-image" ></a>
              </div>
              <div class="col-xs-8 text-right">
                <div class="btn-group">
                  <button class="btn btn-drives dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Drive #{{current}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="tablist">
                    <template v-for="(index, tab) in userdata.tabs">
                      <li role="presentation" class="driveTab" v-bind:class="{'active':tab.active}">
                        <a href="#" role="tab" data-toggle="tab" v-on:click="showTab(index)">
                          Drive #{{index}}
                          <span class="remove" v-if="tab.active" href="#" class="pull-right" v-on:click="removeTab">
                            <i class="fa fa-times"></i>
                          </span>
                        </a>
                      </li>
                    </template>
                    <li role="presentation">
                      <a href="#" v-on:click='addTab'>+ Add New Drive</a>
                    </li>
                    <li><a href="#" v-if="tab.active" v-on:click="removeTab">- Remove This Drive</a></li>
                  </ul>
                </div>
                <div id="app-settings" class="btn-group">
                  <button class="btn btn-settings" data-toggle="modal" data-target="#settings" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa icon-cog"></i>
                  </button>
                </div>
              </div>
            </div>
          </header>

          <div class="tab-content">
            <div v-if="userdata.appSettings.reportTelemetry && !telemetryWarningDismissed" id="telemetry-info">
              <p>
                Sharing telemetry data to improve the network.
                This can be disabled in settings. <span class="dismiss" v-on:click="dismissTelemetryWarning">Dismiss?</span>
              </p>
            </div>
            <div class="tab-pane fade in active" role="tabpanel">
              <section class="main" v-if="userdata.tabs[current].farmer">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <div class="pull-left">
                      <span id="drive-space">{{freespace}}</span>
                    </div>
                    <div class="pull-right">
                      <span class="amount">
                        <p>Balance: {{balance.sjcx}} SJCX<span v-if="balance.sjct">, {{balance.sjct}} SJCT</span></p>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row" id="logs">
                  {{{logwindow}}}
                </div>
              </section>
              <section class="main" v-if="!userdata.tabs[current].farmer">
                <div class="row">
                  <div class="form-group col-xs-12">
                      <label class="control-label" for="address">Payout Address</label>
                      <div class="pull-right">
                        <span class="amount">
                          <a v-if="!balance.qualified" class="js-external-link" href="https://counterwallet.io/">Create New Address</a>
                          <p v-if="balance.qualified">Balance: {{balance.sjcx}} SJCX<span v-if="balance.sjct">, {{balance.sjct}} SJCT</span></p>
                        </span>
                      </div>
                      <input class="form-control address input-address" v-on:change="getBalance" v-bind:disabled="userdata.tabs[current].farmer" data-error="Payout address is required" id="address" name="address" placeholder="Enter your SJCX Address" required="" type="text", v-model="userdata.tabs[current].address">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label class="control-label" for="location">Storage Location</label>
                    <div class="pull-right">
                      <span id="drive-space">{{freespace}}</span>
                    </div>
                    <div class="row">
                      <div class="col-xs-8">
                        <input class="form-control directory" name="location" v-on:change="getFreeSpace" v-bind:disabled="userdata.tabs[current]._process" placeholder="Select where to keep the data" type="text" v-model="userdata.tabs[current].storage.path">
                      </div>
                      <div class="col-xs-4">
                        <button class="btn btn-blue btn-block" type="button" v-bind:disabled="userdata.tabs[current]._process" v-on:click="selectStorageDirectory">Browse</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label class="control-label" for="storage">Storage Size</label>
                    <div class="row">
                      <div class="col-xs-8">
                        <input class="form-control size" min="0" name="storage" v-bind:disabled="userdata.tabs[current]._process" placeholder="Set amount of space to share" type="number", v-model="userdata.tabs[current].storage.size">
                      </div>
                      <div class="col-xs-4">
                      	<select class="form-control size-unit" v-model="userdata.tabs[current].storage.unit" v-bind:disabled="userdata.tabs[current]._process">
                          <option>MB</option>
                          <option>GB</option>
                          <option>TB</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="action">
                <div class="row">
                  <div class="col-xs-12">
                    <button v-if="!userdata.tabs[current].farmer && !transitioning" class="btn btn-block start" data-style="expand-left" v-on:click="startFarming">
                      <span class="start-label">START</span>
                    </button>
                    <button v-if="transitioning && !userdata.tabs[current].farmer" class="btn btn-block transitioning" data-style="expand-left" disabled>
                      <span class="start-label">PREPARING...</span>
                    </button>
                    <button v-if="userdata.tabs[current].farmer" class="btn btn-block stop" data-style="expand-left" v-on:click="stopFarming">
                      <i class="fa fa-check"></i>
                      <span class="start-label">STORJ SHARE IS RUNNING</span>
                    </button>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>

        <footer id="footer">
          <div class="row">
            <div class="col-xs-6 text-left">
              <p><a href="https://storj.io/" class="js-external-link">Powered by Storj</a></p>
            </div>
            <div class="col-xs-6 text-right">
              <p><a href="https://storj.io/community.html" class="js-external-link">Need Help?</a></p>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <div class="modal fade text-center" id="updater" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 v-if="update" class="modal-title">Update Storj Share</h4>
          <h4 v-if="!update" class="modal-title">No Update Available</h4>
        </div>
        <div v-if="!update" class="modal-body">
          <p>You are already using the latest version.</p>
        </div>
        <div v-if="update" class="modal-body">
          <p>Storj Share {{releaseTag}} is available!</p>
          <p>Would you like to download the update now?</p>
        </div>
        <div class="modal-footer">
          <button v-if="!update" type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
          <div v-if="update">
            <div class="col-xs-6">
              <button type="button" class="btn btn-green btn-block" data-dismiss="modal" v-on:click="download">Yes</button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-blue btn-block" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-center" id="settings" tabindex="-1" role="dialog" aria-labelledby="modalSettings">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#SettingsGeneral">General</a></li>
          <li><a data-toggle="tab" href="#SettingsNetwork">Network (Drive #{{ current }})</a></li>
          <li><a data-toggle="tab" href="#SettingsTunnels">Tunnels (Drive #{{ current }})</a></li>
        </ul>

        <div class="modal-body text-left">
          <div class="tab-content">

            <div id="SettingsGeneral" class="tab-pane fade in active">
              <div class="row form-group">
                <div class="col-xs-12">
                  <label for="MinToTask">
                    <input v-model="userdata.appSettings.minToTask" v-on:change="changeSettings" id="MinToTask" type="checkbox"> Display in system tray
                  </label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-12">
                  <label for="LaunchOnBoot">
                    <input v-model="userdata.appSettings.launchOnBoot" v-on:change="changeSettings" id="LaunchOnBoot" type="checkbox"> Launch Storj Share at user login
                  </label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-12">
                  <label for="RunDrivesOnBoot">
                    <input v-model="userdata.appSettings.runDrivesOnBoot" v-on:change="changeSettings" id="RunDrivesOnBoot" type="checkbox"> Share previously running drives at launch
                  </label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-12">
                  <label for="TelemetryReport">
                    <input v-model="userdata.appSettings.reportTelemetry" v-on:change="changeSettings" id="TelemetryReport" type="checkbox"> Send Telemetry Reports
                  </label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-8">
                  <label for="">
                    Logfile Location <a href="#" v-on:click="openLogFolder"><i class="fa icon-external-link" aria-hidden="true"></i></a>
                  </label>
                </div>
                <div class="col-xs-8">
                  <input type="text" class="form-control" v-on:change="changeSettings" directory v-model="userdata.appSettings.logFolder">
                </div>
                <div class="col-xs-4">
                  <button class="btn btn-blue btn-block" type="button" v-on:click="selectLogFolder">Browse</button>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-12">
                  <label>Logfile Level</label>
                </div>
                <div class="col-xs-12">
                  <select class="form-control" v-on:change="changeSettings" v-model="userdata.appSettings.logLevel">
                    <option value="1">Show Errors Only</option>
                    <option value="2">Show Warnings and Errors</option>
                    <option value="3">Show All Information</option>
                    <option value="4">Debugging Mode (use with caution)</option>
                  </select>
                </div>
              </div>

            </div>

            <div id="SettingsNetwork" class="tab-pane fade">
              <div class="alert alert-warning" role="alert"><strong>Heads Up!</strong> Modifying the default configuration is only recommended for advanced users!</div>
              <div class="row form-group ">
                <div class="col-xs-12">
                  <label for="">Enter your public hostname or IP address</label>
                  <input type="text" class="form-control" v-on:change="changeSettings" v-model="userdata.tabs[current].network.hostname">
                </div>
              </div>

              <hr>

              <div class="row form-group">
                <div class="col-xs-12">
                  <label for="">Enter the URI of a known seed</label>
                  <input type="text" class="form-control" v-on:change="changeSettings" v-model="userdata.tabs[current].network.seed" placeholder="Leave empty for auto-discovery">
                </div>
              </div>

              <hr>

              <div class="row form-group">
                <div class="col-xs-4">
                  <input type="number" min="1000" max="65535" class="form-control margin-top" v-on:change="changeSettings" v-model="userdata.tabs[current].network.port">
                </div>
                <div class="col-xs-8">
                  <label for="">TCP port number the service should use <small>(0 for random)</small></small></label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <select class="form-control margin-top" id="nat-select" v-on:change="changeSettings" v-model="userdata.tabs[current].network.nat">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
                <div class="col-xs-8">
                  <label for="nat-select">Use NAT traversal strategies to become available on the network</b></label>
                </div>
              </div>
            </div>

            <div id="SettingsTunnels" class="tab-pane fade">
              <div class="alert alert-warning" role="alert"><strong>Heads Up!</strong> Modifying the default configuration is only recommended for advanced users!</div>
              <div class="row form-group">
                <div class="col-xs-4">
                  <input type="number" class="form-control margin-top" v-on:change="changeSettings" v-model="userdata.tabs[current].tunnels.numConnections">
                </div>
                <div class="col-xs-8">
                  <label for="">Number of tunnel connections other farmers can open through you</label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <input type="number" min="1000" max="65535" class="form-control margin-top" v-on:change="changeSettings" v-model="userdata.tabs[current].tunnels.tcpPort">
                </div>
                <div class="col-xs-8">
                  <label for="">TCP port number the tunnel server should use <small>(0 for random)</small></label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <input type="number" min="1000" max="65535" class="form-control margin-top" v-on:change="changeSettings" v-model="userdata.tabs[current].tunnels.startPort">
                </div>
                <div class="col-xs-8">
                  <label for="">Start TCP port for tunnel connections <small>(0 for random)</small></label>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <input type="number" min="1000" max="65535" class="form-control margin-top" v-on:change="changeSettings" v-model="userdata.tabs[current].tunnels.endPort">
                </div>
                <div class="col-xs-8">
                  <label>End TCP port for tunnel connections <small>(0 for random)</small></label>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade text-center" id="about" tabindex="-1" role="dialog" aria-labelledby="modalAbout">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">About Storj Share</h4>
        </div>
        <div class="modal-body">
          <p>Storj Share {{version}}</p>
          <p>Core Library {{core}}</p>
          <p>Protocol {{protocol}}</p>
        </div>
      </div>
    </div>
  </div>

  <script src="client.js"></script>

</body>
</html>
