html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //font-family: sans-serif;
}

a {
    text-decoration: none;
}

.header {
	height: 100px;
    text-align: center;
}

.w2ui-toolbar {
	height: 30px;
}

.w2ui-grid-toolbar {
	height: 30px;
}

.subtitle {
    color: gray;
}
